 <h1>All Companies</h1>

 <% @companies.each do |company| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to company.name, company %>
       </h4>
     </div>
   </div>
 <% end %>